
doctype html
html(lang="en")
  head
    title= 'Node.js Template'
  body
  table 
    h1 The user has following result -
    h1 Email - #{email}
    h1 Username - #{username}
    h1 Password - #{password}
    h1 Avatar - #{avatar}

    